<form action="/signin" method="POST">
  <input type="text" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Passwrod"><br>
  <input type="submit" value="ログイン"><br>
</form>
